
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
  body {
      background-color: #f6f6f6;
    }
h1
{
  color: #99bbad;
}
h2
{
  color: #99bbad;
}
h3
{
  color: #99bbad;
}
h4
{
  color: #99bbad;
}
